body {
    background-image: url(fon.jpg);
    background-size: 100%;    
}
h1 {
    text-align: center;
     text-shadow: 3px 1px 3px black;
     font-family:Arial, Helvetica, sans-serif;
     font-size: 60pt;
     color:brown;
     
 }

.list  {
    position: relative;
    display: block;
    margin-left: 150px;
    text-align: center;
    font: bold 16pt Arial, Helvetica, sans-serif;
    float: left;

}
.gallery  {
    position: relative;
    margin-bottom: 10px;
    display: block;
    margin-left: 50px;
    margin-top: 30px;
    float: left;
}

.gallery_right  {
    position: relative;
    margin-bottom: 10px;
    display: block;
    margin-right: 50px;
    margin-top: 20px;
    line-height: 20px;
    float: right;
    }
    